# Stage - 1(Task : 3) Displaying Enrichment dataset and making initial merging with super covid datset.

Memeber: Venkatesh Pulibandla

Description: In this task I have took a demographic census dataset as an enrichment dataset and analysed how covid-19 impacted the enrichment dataset.

In [1]:
# Importing numpy amd pandas packages

import numpy as np
import pandas as pd

In [2]:
# Reading the enrichment data csv file and displaying it.

demographic = pd.read_csv("../../DATASETS/ENRICHMENT DATASETS/ACSDP1Y2021.DP05-Data.csv")
demographic

,GEO_ID,NAME,DP05_0001E,DP05_0001EA,DP05_0001M,DP05_0001MA,DP05_0002E,DP05_0002EA,DP05_0002M,DP05_0002MA,...,DP05_0087PEA,DP05_0088PE,DP05_0088PEA,DP05_0088PM,DP05_0088PMA,DP05_0089PE,DP05_0089PEA,DP05_0089PM,DP05_0089PMA,Unnamed: 714
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Annotation of Estimate!!SEX AND AGE!!Total pop...,Margin of Error!!SEX AND AGE!!Total population,Annotation of Margin of Error!!SEX AND AGE!!To...,Estimate!!SEX AND AGE!!Total population!!Male,Annotation of Estimate!!SEX AND AGE!!Total pop...,Margin of Error!!SEX AND AGE!!Total population...,Annotation of Margin of Error!!SEX AND AGE!!To...,...,"Annotation of Percent!!CITIZEN, VOTING AGE POP...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Annotation of Percent!!CITIZEN, VOTING AGE POP...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",Annotation of Percent Margin of Error!!CITIZEN...,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Annotation of Percent!!CITIZEN, VOTING AGE POP...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",Annotation of Percent Margin of Error!!CITIZEN...,NaN
1,0500000US01003,"Baldwin County, Alabama",239294,NaN,*****,*****,115696,NaN,1401,NaN,...,NaN,48.5,NaN,0.7,NaN,51.5,NaN,0.7,NaN,NaN
2,0500000US01015,"Calhoun County, Alabama",115972,NaN,*****,*****,55581,NaN,722,NaN,...,NaN,47.8,NaN,0.4,NaN,52.2,NaN,0.4,NaN,NaN
3,0500000US01043,"Cullman County, Alabama",89496,NaN,*****,*****,44331,NaN,477,NaN,...,NaN,49.3,NaN,0.5,NaN,50.7,NaN,0.5,NaN,NaN
4,0500000US01049,"DeKalb County, Alabama",71813,NaN,*****,*****,35952,NaN,1069,NaN,...,NaN,48.5,NaN,0.8,NaN,51.5,NaN,0.8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,0500000US72113,"Ponce Municipio, Puerto Rico",135084,NaN,*****,*****,64529,NaN,*****,*****,...,NaN,47.1,NaN,0.3,NaN,52.9,NaN,0.3,NaN,NaN
838,0500000US72127,"San Juan Municipio, Puerto Rico",337300,NaN,*****,*****,154195,NaN,*****,*****,...,NaN,44.2,NaN,0.5,NaN,55.8,NaN,0.5,NaN,NaN
839,0500000US72135,"Toa Alta Municipio, Puerto Rico",67569,NaN,*****,*****,31626,NaN,564,NaN,...,NaN,47.3,NaN,0.2,NaN,52.7,NaN,0.2,NaN,NaN
840,0500000US72137,"Toa Baja Municipio, Puerto Rico",74368,NaN,*****,*****,33780,NaN,306,NaN,...,NaN,45.2,NaN,0.4,NaN,54.8,NaN,0.4,NaN,NaN
841,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",67211,NaN,*****,*****,31040,NaN,762,NaN,...,NaN,46.2,NaN,0.6,NaN,53.8,NaN,0.6,NaN,NaN

In [3]:
# Removing the unwanted columns.
# Data filtering

for id in demographic.columns:
    if (id[-2:]=='EA' or id[-1]=='M' or id[-2:]=='MA' or id[-2:]=='PE' or id[-2:]=='PM'):
        del demographic[id]

demographic

,GEO_ID,NAME,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0004E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,...,DP05_0081E,DP05_0082E,DP05_0083E,DP05_0084E,DP05_0085E,DP05_0086E,DP05_0087E,DP05_0088E,DP05_0089E,Unnamed: 714
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex r...,Estimate!!SEX AND AGE!!Total population!!Under...,Estimate!!SEX AND AGE!!Total population!!5 to ...,Estimate!!SEX AND AGE!!Total population!!10 to...,Estimate!!SEX AND AGE!!Total population!!15 to...,...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!Total housing units,"Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...",NaN
1,0500000US01003,"Baldwin County, Alabama",239294,115696,123598,93.6,12360,12848,16966,13471,...,0,842,6790,1487,5303,128533,185566,90007,95559,NaN
2,0500000US01015,"Calhoun County, Alabama",115972,55581,60391,92.0,6478,7374,6684,8780,...,0,877,4588,375,4213,53211,88832,42469,46363,NaN
3,0500000US01043,"Cullman County, Alabama",89496,44331,45165,98.2,5022,4415,6954,5277,...,33,6,1723,379,1344,39465,68751,33921,34830,NaN
4,0500000US01049,"DeKalb County, Alabama",71813,35952,35861,100.3,6080,4690,4079,4148,...,10,58,2466,195,2271,30774,49274,23916,25358,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,0500000US72113,"Ponce Municipio, Puerto Rico",135084,64529,70555,91.5,4685,6420,7766,7619,...,N,N,N,N,N,65434,110128,51854,58274,NaN
838,0500000US72127,"San Juan Municipio, Puerto Rico",337300,154195,183105,84.2,11385,12406,18111,19643,...,0,660,495,102,393,183964,263918,116663,147255,NaN
839,0500000US72135,"Toa Alta Municipio, Puerto Rico",67569,31626,35943,88.0,2000,3255,3895,5222,...,N,N,N,N,N,25754,55680,26338,29342,NaN
840,0500000US72137,"Toa Baja Municipio, Puerto Rico",74368,33780,40588,83.2,2313,3706,3764,4317,...,N,N,N,N,N,34372,61112,27603,33509,NaN
841,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",67211,31040,36171,85.8,1919,3540,3268,3743,...,N,N,N,N,N,28630,55195,25494,29701,NaN

In [4]:
# removing the unwanted '0' row.

demographic.drop(0, inplace= True)

In [5]:
demographic

,GEO_ID,NAME,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0004E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,...,DP05_0081E,DP05_0082E,DP05_0083E,DP05_0084E,DP05_0085E,DP05_0086E,DP05_0087E,DP05_0088E,DP05_0089E,Unnamed: 714
1,0500000US01003,"Baldwin County, Alabama",239294,115696,123598,93.6,12360,12848,16966,13471,...,0,842,6790,1487,5303,128533,185566,90007,95559,NaN
2,0500000US01015,"Calhoun County, Alabama",115972,55581,60391,92.0,6478,7374,6684,8780,...,0,877,4588,375,4213,53211,88832,42469,46363,NaN
3,0500000US01043,"Cullman County, Alabama",89496,44331,45165,98.2,5022,4415,6954,5277,...,33,6,1723,379,1344,39465,68751,33921,34830,NaN
4,0500000US01049,"DeKalb County, Alabama",71813,35952,35861,100.3,6080,4690,4079,4148,...,10,58,2466,195,2271,30774,49274,23916,25358,NaN
5,0500000US01051,"Elmore County, Alabama",89304,44004,45300,97.1,4667,5476,5962,5693,...,N,N,N,N,N,37081,68232,32750,35482,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,0500000US72113,"Ponce Municipio, Puerto Rico",135084,64529,70555,91.5,4685,6420,7766,7619,...,N,N,N,N,N,65434,110128,51854,58274,NaN
838,0500000US72127,"San Juan Municipio, Puerto Rico",337300,154195,183105,84.2,11385,12406,18111,19643,...,0,660,495,102,393,183964,263918,116663,147255,NaN
839,0500000US72135,"Toa Alta Municipio, Puerto Rico",67569,31626,35943,88.0,2000,3255,3895,5222,...,N,N,N,N,N,25754,55680,26338,29342,NaN
840,0500000US72137,"Toa Baja Municipio, Puerto Rico",74368,33780,40588,83.2,2313,3706,3764,4317,...,N,N,N,N,N,34372,61112,27603,33509,NaN
841,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",67211,31040,36171,85.8,1919,3540,3268,3743,...,N,N,N,N,N,28630,55195,25494,29701,NaN

In [14]:
# data filtering and reading only wanted columns.


demographicNew = demographic.loc[:,('GEO_ID','NAME','DP05_0001E','DP05_0002E','DP05_0003E','DP05_0004E','DP05_0005E','DP05_0006E','DP05_0007E','DP05_0008E','DP05_0009E','DP05_0010E','DP05_0011E','DP05_0012E','DP05_0013E','DP05_0014E','DP05_0015E','DP05_0016E','DP05_0017E','DP05_0018E','DP05_0037E','DP05_0038E','DP05_0039E','DP05_0044E','DP05_0045E','DP05_0052E','DP05_0086E','DP05_0087E','DP05_0088E','DP05_0089E')]

In [15]:
demographicNew

,GEO_ID,NAME,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0004E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,...,DP05_0037E,DP05_0038E,DP05_0039E,DP05_0044E,DP05_0045E,DP05_0052E,DP05_0086E,DP05_0087E,DP05_0088E,DP05_0089E
1,0500000US01003,"Baldwin County, Alabama",239294,115696,123598,93.6,12360,12848,16966,13471,...,198355,21305,884,1956,N,0,128533,185566,90007,95559
2,0500000US01015,"Calhoun County, Alabama",115972,55581,60391,92.0,6478,7374,6684,8780,...,82072,22470,1307,983,N,0,53211,88832,42469,46363
3,0500000US01043,"Cullman County, Alabama",89496,44331,45165,98.2,5022,4415,6954,5277,...,81885,1098,426,509,N,33,39465,68751,33921,34830
4,0500000US01049,"DeKalb County, Alabama",71813,35952,35861,100.3,6080,4690,4079,4148,...,58855,1160,1822,71,N,10,30774,49274,23916,25358
5,0500000US01051,"Elmore County, Alabama",89304,44004,45300,97.1,4667,5476,5962,5693,...,66105,19046,167,88,N,0,37081,68232,32750,35482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,0500000US72113,"Ponce Municipio, Puerto Rico",135084,64529,70555,91.5,4685,6420,7766,7619,...,45980,5171,35,0,N,0,65434,110128,51854,58274
838,0500000US72127,"San Juan Municipio, Puerto Rico",337300,154195,183105,84.2,11385,12406,18111,19643,...,85990,34376,693,210,N,0,183964,263918,116663,147255
839,0500000US72135,"Toa Alta Municipio, Puerto Rico",67569,31626,35943,88.0,2000,3255,3895,5222,...,14048,1747,0,0,N,0,25754,55680,26338,29342
840,0500000US72137,"Toa Baja Municipio, Puerto Rico",74368,33780,40588,83.2,2313,3706,3764,4317,...,10436,3681,817,0,N,0,34372,61112,27603,33509
841,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",67211,31040,36171,85.8,1919,3540,3268,3743,...,32660,9547,0,0,N,0,28630,55195,25494,29701

In [16]:
# Names dictionary for the columns in a user readable way.

new_names={'DP05_0001E':'Total Population',
           'DP05_0002E':'Male population',
           'DP05_0003E':'Female Population',
           'DP05_0004E':'Sex Ratio',
           'DP05_0005E':'Population under 5 Years',
           'DP05_0006E':'Population 5 to 9 Years',
           'DP05_0007E':'Population 10 to 14 Years',
           'DP05_0008E':'Population 15 to 19 Years',
           'DP05_0009E':'Population 20 to 24 Years',
           'DP05_0010E':'Population 25 to 34 Years',
           'DP05_0011E':'Population 35 to 44 Years',
           'DP05_0012E':'Population 45 to 54 Years',
           'DP05_0013E':'Population 55 to 59 Years',
           'DP05_0014E':'Population 60 to 64 Years',
           'DP05_0015E':'Population 65 to 74 Years',
           'DP05_0016E':'Population 75 to 84 Years',
           'DP05_0017E':'Population Above 85 Years',
           'DP05_0018E':'Meadin Age Population',
           'DP05_0037E':'Population of White Race',
           'DP05_0038E':'Population of Black Race',
           'DP05_0039E':'Population of American Indian and Alaska Native',
           'DP05_0044E':'Population of Asian Race',
           'DP05_0045E':'Population of Indian Race',
           'DP05_0052E':'Population of Native Hawaiian and Other Pacific Islander',
           'DP05_0086E':'Total Housing Units',
           'DP05_0087E':'Population of Citizen Over 18',
           'DP05_0088E':'Population of Male Citizen',
           'DP05_0089E':'Population of Female Citizen'
          }

In [17]:
# Reanaming the columns in the dataframe

demographicNew.rename(columns=new_names, inplace = True)

In [18]:
demographicNew

,GEO_ID,NAME,Total Population,Male population,Female Population,Sex Ratio,Population under 5 Years,Population 5 to 9 Years,Population 10 to 14 Years,Population 15 to 19 Years,...,Population of White Race,Population of Black Race,Population of American Indian and Alaska Native,Population of Asian Race,Population of Indian Race,Population of Native Hawaiian and Other Pacific Islander,Total Housing Units,Population of Citizen Over 18,Population of Male Citizen,Population of Female Citizen
1,0500000US01003,"Baldwin County, Alabama",239294,115696,123598,93.6,12360,12848,16966,13471,...,198355,21305,884,1956,N,0,128533,185566,90007,95559
2,0500000US01015,"Calhoun County, Alabama",115972,55581,60391,92.0,6478,7374,6684,8780,...,82072,22470,1307,983,N,0,53211,88832,42469,46363
3,0500000US01043,"Cullman County, Alabama",89496,44331,45165,98.2,5022,4415,6954,5277,...,81885,1098,426,509,N,33,39465,68751,33921,34830
4,0500000US01049,"DeKalb County, Alabama",71813,35952,35861,100.3,6080,4690,4079,4148,...,58855,1160,1822,71,N,10,30774,49274,23916,25358
5,0500000US01051,"Elmore County, Alabama",89304,44004,45300,97.1,4667,5476,5962,5693,...,66105,19046,167,88,N,0,37081,68232,32750,35482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,0500000US72113,"Ponce Municipio, Puerto Rico",135084,64529,70555,91.5,4685,6420,7766,7619,...,45980,5171,35,0,N,0,65434,110128,51854,58274
838,0500000US72127,"San Juan Municipio, Puerto Rico",337300,154195,183105,84.2,11385,12406,18111,19643,...,85990,34376,693,210,N,0,183964,263918,116663,147255
839,0500000US72135,"Toa Alta Municipio, Puerto Rico",67569,31626,35943,88.0,2000,3255,3895,5222,...,14048,1747,0,0,N,0,25754,55680,26338,29342
840,0500000US72137,"Toa Baja Municipio, Puerto Rico",74368,33780,40588,83.2,2313,3706,3764,4317,...,10436,3681,817,0,N,0,34372,61112,27603,33509
841,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",67211,31040,36171,85.8,1919,3540,3268,3743,...,32660,9547,0,0,N,0,28630,55195,25494,29701

In [19]:
# Splitting the 'GEO_ID' column to get 'countyFIPS'

demographicNew[['geo_id','countyFIPS']] = demographicNew.GEO_ID.str.split('S',expand = True)

In [20]:
# Placing the countyFIPS column at 0th position.

countyID = demographicNew.pop('countyFIPS')
demographicNew.insert(0,'countyFIPS',countyID)

In [21]:
# Dropping the unwanted 'geo_id' column.

demographicNew.drop('geo_id',axis =1, inplace=True)

In [22]:
# converting 'countyFIPS' to string type to perform operations.

demographicNew['countyFIPS'] = demographicNew['countyFIPS'].astype(str)

In [24]:
# performing slicing operations to remove extra zero at the starting of 'countyFIPS' column.

i=1
for id in demographicNew.countyFIPS:
    if id[0]=='0':
        y = id[1:]
        demographicNew.at[i,'countyFIPS']=y
        i+=1
demographicNew

,countyFIPS,GEO_ID,NAME,Total Population,Male population,Female Population,Sex Ratio,Population under 5 Years,Population 5 to 9 Years,Population 10 to 14 Years,...,Population of White Race,Population of Black Race,Population of American Indian and Alaska Native,Population of Asian Race,Population of Indian Race,Population of Native Hawaiian and Other Pacific Islander,Total Housing Units,Population of Citizen Over 18,Population of Male Citizen,Population of Female Citizen
1,1003,0500000US01003,"Baldwin County, Alabama",239294,115696,123598,93.6,12360,12848,16966,...,198355,21305,884,1956,N,0,128533,185566,90007,95559
2,1015,0500000US01015,"Calhoun County, Alabama",115972,55581,60391,92.0,6478,7374,6684,...,82072,22470,1307,983,N,0,53211,88832,42469,46363
3,1043,0500000US01043,"Cullman County, Alabama",89496,44331,45165,98.2,5022,4415,6954,...,81885,1098,426,509,N,33,39465,68751,33921,34830
4,1049,0500000US01049,"DeKalb County, Alabama",71813,35952,35861,100.3,6080,4690,4079,...,58855,1160,1822,71,N,10,30774,49274,23916,25358
5,1051,0500000US01051,"Elmore County, Alabama",89304,44004,45300,97.1,4667,5476,5962,...,66105,19046,167,88,N,0,37081,68232,32750,35482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,72113,0500000US72113,"Ponce Municipio, Puerto Rico",135084,64529,70555,91.5,4685,6420,7766,...,45980,5171,35,0,N,0,65434,110128,51854,58274
838,72127,0500000US72127,"San Juan Municipio, Puerto Rico",337300,154195,183105,84.2,11385,12406,18111,...,85990,34376,693,210,N,0,183964,263918,116663,147255
839,72135,0500000US72135,"Toa Alta Municipio, Puerto Rico",67569,31626,35943,88.0,2000,3255,3895,...,14048,1747,0,0,N,0,25754,55680,26338,29342
840,72137,0500000US72137,"Toa Baja Municipio, Puerto Rico",74368,33780,40588,83.2,2313,3706,3764,...,10436,3681,817,0,N,0,34372,61112,27603,33509
841,72139,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",67211,31040,36171,85.8,1919,3540,3268,...,32660,9547,0,0,N,0,28630,55195,25494,29701

In [25]:
# Reading the SuperCovid Dataframe

superCovidDS = pd.read_csv("../../Team/STAGE1/superCovidDS.csv")

In [27]:
# Converting 'countyFIPS' in to integer type to perform merging.

demographicNew['countyFIPS']=demographicNew['countyFIPS'].astype(int)

In [28]:
# Merging the supercovid data with demographic data.

enrichmentDemographic = pd.merge(superCovidDS,demographicNew, on ='countyFIPS')

In [29]:
# displaying the data after initial merges.

enrichmentDemographic

,countyFIPS,County Name,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,Population of White Race,Population of Black Race,Population of American Indian and Alaska Native,Population of Asian Race,Population of Indian Race,Population of Native Hawaiian and Other Pacific Islander,Total Housing Units,Population of Citizen Over 18,Population of Male Citizen,Population of Female Citizen
0,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,198355,21305,884,1956,N,0,128533,185566,90007,95559
1,1015,Calhoun County,AL,1,0,0,0,0,0,0,...,82072,22470,1307,983,N,0,53211,88832,42469,46363
2,1043,Cullman County,AL,1,0,0,0,0,0,0,...,81885,1098,426,509,N,33,39465,68751,33921,34830
3,1049,DeKalb County,AL,1,0,0,0,0,0,0,...,58855,1160,1822,71,N,10,30774,49274,23916,25358
4,1051,Elmore County,AL,1,0,0,0,0,0,0,...,66105,19046,167,88,N,0,37081,68232,32750,35482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,55133,Waukesha County,WI,55,0,0,0,0,0,0,...,355894,6824,1648,16588,8458,25,173392,314942,154691,160251
826,55139,Winnebago County,WI,55,0,0,0,0,0,0,...,148904,5827,608,5825,N,0,76554,134474,68076,66398
827,55141,Wood County,WI,55,0,0,0,0,0,0,...,67257,609,289,1596,N,0,34660,57238,28279,28959
828,56021,Laramie County,WY,56,0,0,0,0,0,0,...,82584,4040,555,1508,N,0,44815,76738,38877,37861
829,56025,Natrona County,WY,56,0,0,0,0,0,0,...,69303,72,598,228,N,0,37051,59929,30603,29326