# Stage - 1( Task : 3) Merging of covid datasets.

Team members:
1) Venkatesh Pulibandla
2) Ashritha Dasari
3) Ankitha Chavan
4) Deeepika Dasaroju
5) Manogna Bobbili


Description:
    In this task we will read all the covid-19 datasets and reshape them to extract  data easily and present them in a user readable way. We have merged all the three covid datasets into a Super covid dataset. We have used pandas and numpy packages to to complete this task successfully.
    
   We have to make a big note of the functions we have used in this task.
        1) pd.melt() function which we have used to convert a wide dataframe into a long dataframe so that we can extract data              according to the date we want.We have referred the pd.melt() function from the pandas documentation at this location            "https://pandas.pydata.org/docs/reference/api/pandas.melt.html".
        2) pd.read_csv() function which is used to read the csv file.
        3) pd.merge() function is used to merge two dataframes based on the common column.
           syntax: pd.merge(file1, file2, on=(common columns), how='type of join')
        4) pd.to_csv() function is used to convert the dataframe into a csv file.

In [1]:
# Importing pandas and numpy packages.

import pandas as pd
import numpy as np

In [2]:
# Reading the covid deaths csv file using Pd.read_csv() function.

deaths= pd.read_csv("../../DATASETS/COVID DATASETS/covid_deaths_usafacts.csv")
deaths.head() #head() function displays the first 5 rows of the dataframe.

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108

In [3]:
# Reading the covid Confirmed cases csv file using pd.read_csv() function.

confirmed =  pd.read_csv("../../DATASETS/COVID DATASETS/covid_confirmed_usafacts.csv")
confirmed.head() # Displaying the first 5 rows of the covid confirmed cases dataframe.

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19205,19205,19205,19205,19205,19318,19318,19318,19318,19318
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,68182,68182,68182,68182,68182,68518,68518,68518,68518,68518
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7120,7120,7120,7120,7120,7188,7188,7188,7188,7188
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7808,7808,7808,7808,7808,7855,7855,7855,7855,7855

In [4]:
# Reading the Population of each county in USA.

population = pd.read_csv("../../DATASETS/COVID DATASETS/covid_county_population_usafacts.csv")
population.head() # Displaying the first 5 rows of the Population dataframe according to the countyFIPS.

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [5]:
# Using pd.melt() function to convert the covid death cases wide data frame into long dataframe according to the date.
# Syntax of pd.melt() function is provided below
# longDataFrame = pd.melt(frame = wideDataFrame, id_vars=(tuple or list with columns that should not change), value_vars=(columns to be changed), var_name=(Name for the new column), value_vars=(Name for the values of the new column))
# We did not use value_vars in our code because we cannot specify hundreds of date coumns in a single.
# If we do not specify the value_vars() it takes all columns except the columns specified in id_vars().


deaths_New = pd.melt(frame = deaths, id_vars=('countyFIPS','County Name','State','StateFIPS'),var_name=["Date"],value_name='Number of Deaths')
deaths_New # This is the new covis deaths dataframe as a long dataframe.

,countyFIPS,County Name,State,StateFIPS,Date,Number of Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,136
3483559,56039,Teton County,WY,56,2023-01-16,16
3483560,56041,Uinta County,WY,56,2023-01-16,43
3483561,56043,Washakie County,WY,56,2023-01-16,47
3483562,56045,Weston County,WY,56,2023-01-16,22

In [6]:
# Using pd.melt() function to convert the covid confirmed cases wide data frame into long dataframe according to the date.
# Syntax of pd.melt() function is provided below
# longDataFrame = pd.melt(frame = wideDataFrame, id_vars=(tuple or list with columns that should not change), value_vars=(columns to be changed), var_name=(Name for the new column), value_vars=(Name for the values of the new column))
# We did not use value_vars in our code because we cannot specify hundreds of date coumns in a single.
# If we do not specify the value_vars() it takes all columns except the columns specified in id_vars().

confirmed_New = pd.melt(frame = confirmed, id_vars=('countyFIPS','County Name','State','StateFIPS'),var_name=["Date"],value_name='Number of Cases')
confirmed_New # This is the new confirmed cases dataframe as a long dataframe.

,countyFIPS,County Name,State,StateFIPS,Date,Number of Cases
0,0,Statewide Unallocated,AL,1,2020-01-22,0
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,12437
3483559,56039,Teton County,WY,56,2023-01-16,12045
3483560,56041,Uinta County,WY,56,2023-01-16,6333
3483561,56043,Washakie County,WY,56,2023-01-16,2731
3483562,56045,Weston County,WY,56,2023-01-16,1881

In [7]:
# In this step we have merged the confirmed_New and deaths_New dataframes on 'countyFIPS', 'County Name', 'State', 'StateFIPS', 'Date'.
# The newly merged dataframe is in 'superCovidDS' dataframe.

superCovidDS = pd.merge(confirmed_New,deaths_New, on=('countyFIPS','County Name','State','StateFIPS','Date'))

In [8]:
# Here we have displayed the superCovidDS dataframe.

superCovidDS

,countyFIPS,County Name,State,StateFIPS,Date,Number of Cases,Number of Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0
1,1001,Autauga County,AL,1,2020-01-22,0,0
2,1003,Baldwin County,AL,1,2020-01-22,0,0
3,1005,Barbour County,AL,1,2020-01-22,0,0
4,1007,Bibb County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,12437,136
3483559,56039,Teton County,WY,56,2023-01-16,12045,16
3483560,56041,Uinta County,WY,56,2023-01-16,6333,43
3483561,56043,Washakie County,WY,56,2023-01-16,2731,47
3483562,56045,Weston County,WY,56,2023-01-16,1881,22

In [9]:
# From the population dataframe i have droped 'County Name', since we had merge issues with superCovidDS dataframe
# The new population dataframe is taken in 'population_New' dataframe.

population_New=population.drop(['County Name'],1)
population_New

C:\Users\venka\AppData\Local\Temp\ipykernel_30560\2153240169.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  population_New=population.drop(['County Name'],1)

      countyFIPS State  population
0              0    AL           0
1           1001    AL       55869
2           1003    AL      223234
3           1005    AL       24686
4           1007    AL       22394
...          ...   ...         ...
3190       56037    WY       42343
3191       56039    WY       23464
3192       56041    WY       20226
3193       56043    WY        7805
3194       56045    WY        6927

[3195 rows x 3 columns]

In [10]:
# Here  we have merged the 'superCovidDS' and 'population_New dataframes' through inner join.

supercovidDS = pd.merge(superCovidDS,population_New, how='inner')

In [11]:
superCovidDS

,countyFIPS,County Name,State,StateFIPS,Date,Number of Cases,Number of Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0
1,1001,Autauga County,AL,1,2020-01-22,0,0
2,1003,Baldwin County,AL,1,2020-01-22,0,0
3,1005,Barbour County,AL,1,2020-01-22,0,0
4,1007,Bibb County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,12437,136
3483559,56039,Teton County,WY,56,2023-01-16,12045,16
3483560,56041,Uinta County,WY,56,2023-01-16,6333,43
3483561,56043,Washakie County,WY,56,2023-01-16,2731,47
3483562,56045,Weston County,WY,56,2023-01-16,1881,22

In [15]:
# In this step are coverting it into a csv file name 'covidSuperDS.csv'

superCovidDS.to_csv('../../Team/STAGE1/covidSuperDS.csv', index=False)

In [16]:
# Here we are reading the 'covidSuperDS.csv'

file = pd.read_csv('../../Team/STAGE1/covidSuperDS.csv')
file

,countyFIPS,County Name,State,StateFIPS,Date,Number of Cases,Number of Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0
1,1001,Autauga County,AL,1,2020-01-22,0,0
2,1003,Baldwin County,AL,1,2020-01-22,0,0
3,1005,Barbour County,AL,1,2020-01-22,0,0
4,1007,Bibb County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,12437,136
3483559,56039,Teton County,WY,56,2023-01-16,12045,16
3483560,56041,Uinta County,WY,56,2023-01-16,6333,43
3483561,56043,Washakie County,WY,56,2023-01-16,2731,47
3483562,56045,Weston County,WY,56,2023-01-16,1881,22

In [14]:
superCovidDS.dtypes

countyFIPS           int64
County Name         object
State               object
StateFIPS            int64
Date                object
Number of Cases      int64
Number of Deaths     int64
dtype: object